{% extends "base.html" %}

{% block title %}Ingresar{% endblock %}

{% block content %}
    <h1 class="section-title">Ingresar</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="card">
            <label for="{{ form.username.id_for_label }}">Usuario</label><br />
            {{ form.username }}
        </div>

        <div class="card">
            <label for="{{ form.password.id_for_label }}">Contrasena</label><br />
            {{ form.password }}
        </div>

        <button type="submit">Entrar</button>
    </form>
{% endblock %}
