{% extends "base.html" %}

{% block title %}Editar sobre el salon{% endblock %}

{% block content %}
    <h2>Editar sobre el salon</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ formset.non_form_errors }}

        <div class="card">
            <label>Titulo</label><br />
            {{ page_form.title }}
            {{ page_form.title.errors }}
        </div>

        <div class="card">
            <label>Historia</label><br />
            {{ page_form.story }}
            {{ page_form.story.errors }}
        </div>

        <div class="card">
            <label>Experiencia y especializaciones</label><br />
            {{ page_form.experience }}
            {{ page_form.experience.errors }}
        </div>

        <div class="card">
            <label>Certificaciones</label><br />
            {{ page_form.certifications }}
            {{ page_form.certifications.errors }}
        </div>

        <div class="card">
            <h3>Fotos</h3>
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="card">
                    {% if form.instance and form.instance.image %}
                        <div class="about-photo">
                            <img src="{{ form.instance.image.url }}" alt="{{ form.instance.caption|default:'Foto del salon' }}" />
                        </div>
                    {% endif %}
                    <label>Imagen</label><br />
                    {{ form.image }}
                    {{ form.image.errors }}

                    <label>Descripcion</label><br />
                    {{ form.caption }}
                    {{ form.caption.errors }}

                    <label>Orden</label><br />
                    {{ form.order }}
                    {{ form.order.errors }}

                    {% if form.DELETE %}
                        <label>
                            {{ form.DELETE }} Eliminar
                        </label>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <button type="submit">Guardar cambios</button>
    </form>
{% endblock %}
