{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="section-title">{{ title }}</h2>

    <form method="post" class="form-card">
        {% csrf_token %}

        <div class="card">
            <label>Nombre</label><br />
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="card">
            <label>Descripcion</label><br />
            {{ form.description }}
            {{ form.description.errors }}
        </div>

        <div class="card">
            <label>Duracion (min)</label><br />
            {{ form.duration_minutes }}
            {{ form.duration_minutes.errors }}
        </div>

        <div class="card">
            <label>Precio</label><br />
            {{ form.price }}
            {{ form.price.errors }}
        </div>

        <div class="card">
            <label>Activo</label><br />
            {{ form.is_active }}
            {{ form.is_active.errors }}
        </div>

        <button type="submit">Guardar</button>
    </form>
{% endblock %}
